/* Body color */
body {
    background-color: #ededed
}

h4, p, h5, label {
    font-weight: bold;
    margin: 15px;
}

label {
    width: 80px;
    margin: 0;
    text-align: left;
    word-break: break-all;
}

label {
    font-size: 18px;
}

button {
    width: 40%;
    max-width: 200px;
}

/* image size */
#image-container {
    height: 100%;
    width: 100%;
}

#image-container>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* error Message Style */
#errorMessage {
    color: red
}

button {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    background-color: rgb(34, 34, 34);
}

/* Neomorphic style in input & calculation section*/

input {
    width: 70%;
    max-width: 750px;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    padding: 15px;
    margin: 15px 0px 10px 0;
    background: transparent;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

#calculation-section {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #fff;
}